/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */
header {
	background-color: #424A5D;
	height:58px;
}
.sidebar-toggle-box, .logo{
	color: white;
	margin-left:41px;
	padding-top: 20px;
	display: inline-block;
}
.logout{
	background-color:#9C4C9D;
	border-radius: 5px;
	color:white;
	text-align: center;
	margin-top: -32px;
    margin-right: 24px;
}
.fondo{
	background-color: #424A5D;
}
.boni ,.fa-dashboard,.fa-desktop,.fa-cogs,.fa-th,.fa-tasks,.fa-book,.texto{
	color:white;
}

ul {
	text-decoration: none;
	list-style: none;
}
.fa-heart,.fa-cloud,.fa-envelope,.fa-slack,.fa-database {
	font-size: 30px;
	color:#989898;
	margin-top: 40px;
	}
.fondo{
width: 240px;
}
.ds{
	display: inline-block;
	margin-top: 30px;
}

/*iconos sobresalientes*/
.box1:hover{
	background-color: #FFFFFF;
	border:1px solid #DFDDDD;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	margin-right: 3px;
	text-align: center;

}


